/* COMENTARI */

*,
*::before,
*::after ¨{
box-sizing: border-box;    
}
:roof {
    --ff-primary:  font-family: "Inria Sans", sans-serif;
    --font-secundaria:  font-family: "Gowun Batang", serif;

    --pes-font: 300;
    --pes-negreta: 900;

    --ColorClaro: #7c7c7c;
    --ColorOscuro: #000000;
    --ColorResaltar: #fff168;

    --tamany-h1: 3rem;
    --tamany-h2: 2.25rem;
    --tamany-h3: 1.25rem;
    --tamany-body: 1rem;
}
@media (min-width:800px) {
:root{
--tamany-h1: 4rem;
--tamany-h2: 3.75rem;
--tamany-h3: 1.25rem;
--tamany-body: 1.125rem;
}
}
body{
background: var(--ColorClaro);
color: var(--ColorOscuro);
margin: 0;
font-family: var(--ff-primary);
font-size: var(--tamany-body);
line-height: 1.6;
}
img{
display: block;
max-width: 100%;
}

h1,
h2,
h3{
    line-height:1.1;
    margin: 0;
}
h1{
    font-size: var(--tamany-h1);
}
h2{
    font-size: var(--tamany-h2);
}
h3{
    font-size: var(--tamany-h3);
}
strong¨{
    font-weight: var(--pes-negreta);
}
.titol{
    margin-bottom: .25em;
}
.titol-intro{
    font-weight: var(--pes-font);
}
.subtitol {
    margin: 0;
    font-size: var(--tamany-h3);
}
.subtitol-about {
    background: var(--ColorResaltar);
    font-family: var(--font-secundaria
    )
}
.titol-into strong{
    display: block;
}
